{% extends "private3.html" %}  

{% block metrics %}
    <div style="padding-left:50px;">
        <div id='id_folio'> </div>
    </div>
    <div id="id_model" style="padding:0px;"> </div>
    <table id = 'hor-minimalist-b'>
        <thead> 
            <th> Cash Equivalent: </th> 
            <th align='right'><div id="id_cash_equivalent"></div></th>
        </thead> 
    </table> <!-- <table id = 'hor-minimalist-a'> --> 
{% endblock %} {# metrics #}

{% block scripted %}
<script rel="javascript" type="text/javascript">
$(document).ready(function () {
    function fetchData() {
        const authClient = PropelAuth.createClient({
            authUrl: "https://6798173.propelauthtest.com",
            enableBackgroundTokenRefresh: true,
        });

        // We return the promise chain so the caller can still use .then() or await
        return authClient.getAuthenticationInfoOrNull()
            .then(authInfo => {
                if (!authInfo) {
                    console.log("User is not logged in");
                    return null;
                }
                var url = "/folios/v2";
                var source = {
                    datatype: "json",
                    datafields: [
                        { name: 'folio_name' }
                    ],
                    id: 'id',
                    type : 'GET',
                    root: 'data',
                    url: url
                };
                var dataAdapter = new $.jqx.dataAdapter(source, {
                    beforeSend: function (jqxhr, settings) { 
                       jqxhr.setRequestHeader("Authorization", "Bearer " + authInfo.accessToken); 
                    },
                    downloadComplete: function (data, status, xhr) { 
                       console.log(xhr); 
                    }
                });
                $('#id_folio').jqxListBox({ 
                    source: dataAdapter
                })
                sessionStorage.setItem('accesstoken', authInfo.accessToken);
                return authInfo.accessToken;
            })
            .catch(error => {
                console.error("Error fetching auth info:", error);
            });
    }

    $('#id_folio').jqxListBox({ 
        width: '75px',
        height: '100px',
        displayMember: "folio_name", 
        valueMember: "folio_name",
        theme: 'ui-smoothness'
    });
    fetchData();
    /*
    var url = "/folios/v2";
    var source = {
        datatype: "json",
        datafields: [
            { name: 'folio_name' }
        ],
        id: 'id',
        type : 'GET',
        root: 'data',
        url: url
    };
    var dataAdapter = new $.jqx.dataAdapter(source, {
        beforeSend: function (jqxhr, settings) { 
           //accesstoken = sessionStorage.getItem('accesstoken');
           jqxhr.setRequestHeader("Authorization", "Bearer " + accesstoken); 
        },
        downloadComplete: function (data, status, xhr) { 
           console.log(xhr); 
        }
    });
    $('#id_folio').jqxListBox({ 
        source: dataAdapter
    })
    */

    $("#id_folio").on('select', function (event) {
        if (event.args) {
            var item = event.args.item;
            if (item) {
                accesstoken = sessionStorage.getItem('accesstoken');
                sessionStorage.setItem('globalfolio', item.value);
                document.getElementById('id_acc_selected').innerHTML = item.value;
                globalfolio = item.value;
                console.log("selected folio: " + globalfolio);
                axios({
                    method: 'get',
                    url:  "/folio/cash/v1?folioname=" + globalfolio,
                    config: { 
                        headers: {'Content-Type': 'multipart/form-data',
                        'Authorization': 'Bearer ' + accesstoken 
                    }},
                    headers: { 
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + accesstoken 
                    }
                })
                .then((response) => {
                    document.getElementById('id_cash_equivalent').innerHTML = (response.data.data * 100).toFixed(2) + "%";
                })
                .catch((error) => {
                });

                axios({
                    method: 'get',
                    url:  "/folio/allocation/v1?folioname=" + globalfolio,
                    config: { 
                        headers: {'Content-Type': 'multipart/form-data',
                        'Authorization': 'Bearer ' + accesstoken 
                    }},
                    headers: { 
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + accesstoken 
                    }
                })
                .then((response) => {
                    document.getElementById('id_model').innerHTML = '';
                    const table = document.createElement('table'); 
                    table.id = 'hor-minimalist-b';
                    const headerRow = document.createElement('tr');
                    const th = document.createElement('th');
                    th.textContent = "Foundational";
                    headerRow.appendChild(th);
                    table.appendChild(headerRow);
                    response.data.df_core.forEach(function(d){
                        const tr = document.createElement('tr');
                        const td = document.createElement('td');
                        td.textContent = d.assetclass;
                        tr.appendChild(td);
                        const td2 = document.createElement('td');
                        td2.align = "right";
                        td2.textContent = d.allocated + "%";
                        tr.appendChild(td2);
                        table.appendChild(tr);
                    }) 
                    //
                    const headerRow1 = document.createElement('tr');
                    const th1 = document.createElement('th');
                    th1.textContent = "Specialized";
                    headerRow1.appendChild(th1);
                    table.appendChild(headerRow1);
                    response.data.df_splzd.forEach(function(d){
                        tr = document.createElement('tr');
                        td = document.createElement('td');
                        td.textContent = d.assetclass;
                        tr.appendChild(td);
                        td2 = document.createElement('td');
                        td2.align = "right";
                        td2.textContent = d.allocated + "%";
                        tr.appendChild(td2);
                        table.appendChild(tr);
                    }) 
                    //
                    const headerRow2 = document.createElement('tr');
                    th2 = document.createElement('th');
                    th2.textContent = "Alternatives";
                    headerRow2.appendChild(th2);
                    table.appendChild(headerRow2);
                    response.data.df_alters.forEach(function(d){
                        tr = document.createElement('tr');
                        td = document.createElement('td');
                        td.textContent = d.assetclass;
                        tr.appendChild(td);
                        td2 = document.createElement('td');
                        td2.align = "right";
                        td2.textContent = d.allocated + "%";
                        tr.appendChild(td2);
                        table.appendChild(tr);
                    }) 
                    //
                    document.getElementById('id_model').appendChild(table);
                })
                .catch((error) => {
                });
            }
        }
    });
});
</script>
{% endblock %} {# scripted #}
