{% extends "private3.html" %}  

{% block metrics %}
    <div class="mycontainer">
        <div>this is a column 1</div>
        <div>this is a column 2</div>
    </div> <!--<div class="mycontainer">-->
    <div class="mycontainer">
    <div>
    <div style="padding:1px;">
        <div style="padding-left:50px;"> 
            <input type="button" id="swap_load" value="Fetch"/>
        </div> 
        <div> 
        <table id='hor-minimalist-a'> 
            <thead> <th colspan=2>Risk Metrics</th> </thead> 
            <tbody> 
            <tr> 
                <td>Volatility:</td> 
                <td align='right'><div id="id_volatility"></div></td>
            </tr> 
            <tr> 
                <td>Correlation</td> 
                <td align='right'><div id="id_correlation"></div></td>
                <!-- <td><input type="text" id="strategy"/></td> --> 
            </tr> 
            <tr> 
                <td>CAGR</td> 
                <td align='right'><div id="id_cagr"></div></td>
            </tr> 
            <tr> 
                <td>Tracking Error</td> 
                <td align='right'><div id="id_trackerr"></div></td>
            </tr> 
            <tr> 
                <td>Average Return of Positive Months</td> 
                <td align='right'><div id="id_avg_ret_pos_mths"></div></td>
            </tr> 
            <tr> 
                <td>Average Return of Negative Months</td> 
                <td align='right'><div id="id_avg_ret_neg_mths"></div></td>
            </tr> 
            <tr> 
                <td>Max Drawdown</td> 
                <td align='right'><div id="id_max_drawdown"></div></td>
            </tr> 
            <tr> 
                <td>Sharpe Ratio</td> 
                <td align='right'><div id="id_sharpe_ratio"></div></td>
            </tr> 
            <tr> 
                <td>Sortino Ratio</td> 
                <td align='right'><div id="id_sortino_ratio"></div></td>
            </tr> 
            <tr> 
                <td>Value at Risk(95%, covariance)</td> 
                <td align='right'><div id="id_var95_covariance"></div></td>
            </tr> 
            <tr> 
                <td>Value at Risk(95%, historical)</td> 
                <td align='right'><div id="id_var95_historical"></div></td>
            </tr> 
            </tbody> 
        </table> 
        </div> 
    </div> <!-- <div style="padding:1px;"> -->
    <div style="padding-left:50px;">
    <div id='jqxTabs'>
        <ul>
            <li>Volatility</li>
            <li>Correlation</li>
            <li>CAGR</li>
            <li>Sharpe Ratio</li>
            <li>Sortino Ratio</li>
            <li>Value at Risk</li>
        </ul> 
        <div style="padding:5px;">
            <p>
            Volatility is how much and how quickly prices move over a given span of time. 
            In the stock market, increased volatility is often a sign of fear and uncertainty among investors. 
            SPDR S&P 500 ETF (SPY) had 180-Day Historical Volatility (Close-to-Close) of 12.78%. 
            <br>
            <br>
            Ideally a portfolio should have lower volatility than S&P due to diversification.
            </p>
        </div> 
        <div style="padding:5px;">
            <p>
            It’s a measurement of how the portfolio moves with respect to S&P 500. 
            A correlation of 1.0 indicates a perfect positive correlation. 
            <br>
            <br>
            Goal of diversification is to reduce a portfolio’s alignment with the index. 
            Therefore, a correlation lower than 1(or 100%) is desirable. 
            </p>
        </div> 
        <div style="padding:5px;">
            <p>
            CAGR, which stands for "Compound Annual Growth Rate," is a metric used in the stock market to 
            calculate the average annual growth rate of an investment over a specific period, 
            taking into account the effect of compounding, essentially showing how much a stock has grown 
            on average each year over a set timeframe, assuming profits are reinvested throughout the period. 
            <br>
            <br>
            Below is a table of S&P 500 CAGR:<br>
            <li>3-year CAGR: 11.22%</li>
            <li>5-year CAGR: 12.37%</li>
            <li>10-year CAGR: 16.6%</li>
            <br>
            <br>
            In the short term, CAGR of the portfolio may be lesser than S&P 500 
            but over time it should outperform the index.
            </p>
        </div> 
        <div style="padding:5px;">test
            <p>
            The Sharpe ratio compares the return of an investment with its risk. 
            The Sharpe ratio can help explain whether a portfolio's excess returns are attributable to smart 
            investment decisions or simply luck and risk. 
            <br>
            <br>
            A Sharpe ratio of 1 or higher is generally considered good, 
            2 or higher is very good, and 3 or higher is excellent. 10-year historic S&P 500 Sharpe Ratio is 0.89
            </p>
        </div> 
        <div style="padding:5px;">test
            <p>
            Unlike the Sharpe ratio, the Sortino ratio only considers returns that fall below a predetermined threshold, 
            making it particularly useful for investors concerned primarily with downside risk. 
            <br>
            <br>
            A higher Sortino ratio indicates a better risk-adjusted return for a given level of downside risk.  
            A Sortino ratio of 1 or higher is generally considered good
            </p>
        </div> 
        <div style="padding:5px;">test
            <p>
            "Value at Risk" (VaR) is a statistical measure that estimates the maximum potential loss an 
            investment or portfolio could experience within a specified time frame, at a given confidence level. 
            <br>
            <br>
            Typically calculated at 95 level, it indicates a confidence of 95% that the portfolio 
            won’t underperform more than a certain percentage.
            </p>
        </div> 
    </div> <!-- <div id='jqxTabs'> -->
    </div> <!-- <div style="padding-left:50px;"> -->
    </div> <!-- mycontainer group 1 -->
    <div> 
        <div id='idPeriodGroup'>
            <button class="classPeriod" id=idPeriodDly>Daily</button>
            <button class="classPeriod" id=idPeriodMly>Monthly </button>
            <button class="classPeriod" id=idPeriodQly>Quarterly</button>
            <button class="classPeriod" id=idPeriodYly>Yearly</button>
        </div>    
        <div id='chartContainer' style="width:850px; height:500px;">
	    </div>                           
    </div> <!-- mycontainer group 2 -->       
    </div> <!--<div class="mycontainer">-->

{% endblock %} {# metrics #}

{% block scripted %}
<script rel="javascript" type="text/javascript">
$(document).ready(function () {
    document.getElementById('id_acc_selected').innerHTML = sessionStorage.getItem('globalfolio');
    $('#jqxTabs').jqxTabs({
        width: 400,
        scrollPosition: 'both',
        theme: 'ui-smoothness'
    });
    $("#idPeriodGroup").jqxButtonGroup({
        theme: 'ui-smoothness',
        mode: 'radio',
        width: '300px',
        height: '25px'
    });
    $("#idPeriodGroup").jqxButtonGroup('setSelection', 0);
    globalfolio = sessionStorage.getItem('globalfolio');
    var url = "/performance/v1?folioname=" + globalfolio;
    var source = {
        datatype: "json",
        datafields: [
            { name: 'symbol', type:'string'},
            { name: 'returns', type:'number'}
        ],
        id: 'ident',
        cache: false,
        type : 'GET',
        pagesize: 20,
        url: url,
        root: 'data',
        updaterow: function (rowid, rowdata, commit) {
        }
    };

    var dataAdapter = new $.jqx.dataAdapter(source, { 
        async: false,
        autoBind: true,
        loadError: function (xhr, status, error) { 
            alert('Error loading "' + source.url + '" : ' + error); 
        } 
    });

    var settings = {
        title: "Performance Comparison",
        description: "Comparison of portfolio returns with S&P 500",
        showLegend: true,
        enableAnimations: true,
        padding: { left: 5, top: 5, right: 5, bottom: 5 },
        titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },
        source: dataAdapter,
        xAxis:                    {
            dataField: 'symbol',
            gridLines: { visible: true },
            valuesOnTicks: false
        },
        colorScheme: 'scheme01',
        columnSeriesOverlap: false,
        seriesGroups:                    
        [
            {
                type: 'column',
                valueAxis:
                {
                    visible: true,
                    unitInterval: 0.5,
                    title: { text: 'Performance Comparison' }
                },
                series: [
                        { dataField: 'returns', displayText: 'Returns' }
                    ]
            }
        ]
    };
    
    $('#chartContainer').jqxChart(settings);

    $("#swap_load").jqxButton({ width: '385px', height: '35px', theme: 'ui-smoothness' });
    $('#swap_load').click(function(){
        globalfolio = sessionStorage.getItem('globalfolio');
        accesstoken = sessionStorage.getItem('accesstoken');
        axios({
            method: 'get',
            url:  "/metrics/v2?folioname=" + globalfolio,
            config: { 
                headers: {'Content-Type': 'multipart/form-data',
                'Authorization': 'Bearer ' + accesstoken 
            }},
            headers: { 
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + accesstoken 
            }
        })
        .then((response) => {
            document.getElementById('id_volatility').innerHTML = (response.data.data.volatility * 100).toFixed(2) + "%";
            document.getElementById('id_correlation').innerHTML = (response.data.data.correlation * 100).toFixed(2) + "%";
            document.getElementById('id_cagr').innerHTML = (response.data.data.cagr * 100).toFixed(2) + "%";
            document.getElementById('id_trackerr').innerHTML = (response.data.data.trackerr * 100).toFixed(2) + "%";
            document.getElementById('id_avg_ret_pos_mths').innerHTML = (response.data.data.avg_ret_pos_mths * 100).toFixed(2) + "%";
            document.getElementById('id_avg_ret_neg_mths').innerHTML = (response.data.data.avg_ret_neg_mths * 100).toFixed(2) + "%";
            document.getElementById('id_max_drawdown').innerHTML = (response.data.data.max_drawdown * 100).toFixed(2) + "%";
            document.getElementById('id_sharpe_ratio').innerHTML = response.data.data.sharpe_ratio.toFixed(2);
            document.getElementById('id_sortino_ratio').innerHTML = response.data.data.sortino_ratio.toFixed(2);
            document.getElementById('id_var95_covariance').innerHTML = (response.data.data.var95_covariance * 100).toFixed(2) + "%";
            document.getElementById('id_var95_historical').innerHTML = (response.data.data.var95_historical * 100).toFixed(2) + "%";
        })
        .catch((error) => {
        });
    });
});
</script>
{% endblock %} {# scripted #}
